# Titanic

In [49]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

df_pass = pd.read_csv("Titanic_train.csv")
df_pass.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Survival probability for a passenger

In [54]:
 print(df_pass[df_pass['Survived']==1]['Survived'].value_counts()/df_pass.shape[0])

print(df_pass['Survived'].value_counts(normalize=True))

1    0.383838
Name: Survived, dtype: float64
0    0.616162
1    0.383838
Name: Survived, dtype: float64

Survival probability for a female passenger

In [22]:
#print(df_pass[df_pass['Survived']==1 & df_pass['Sex']=='female']['Survived'].value_counts()/df_pass.shape[0])

print(df_pass[df_pass['Sex']=='female']['Survived'].value_counts(normalize=True))
print(df_pass[df_pass['Sex'] == 'female'].groupby(['Sex'])['Survived'].value_counts()/ df_pass[df_pass['Sex'] == 'female']['Survived'].count() )

1    0.742038
0    0.257962
Name: Survived, dtype: float64
Sex     Survived
female  1           0.742038
        0           0.257962
Name: Survived, dtype: float64

Probability that a person is a female and survives

In [44]:
#p(f|s) = p(f&s)/p(s)

attributes = ["Survived", "Sex"]
df2 = df_pass[attributes]
data_temp = df2.loc[df2["Survived"]==1, "Sex"]
s = df_pass[df_pass['Survived']==1]['Survived'].value_counts()/df_pass.shape[0]
print((data_temp.value_counts()/data_temp.shape[0])['female']*s)

print(df_pass.groupby(['Sex'])['Survived'].value_counts() / df_pass['Survived'].count())

1    0.261504
Name: Survived, dtype: float64
Sex     Survived
female  1           0.261504
        0           0.090909
male    0           0.525253
        1           0.122334
Name: Survived, dtype: float64

Survival probability of a passenger given that the passenger is a female staying in first class

In [59]:
print(df_pass.groupby(['Sex','Pclass'])['Survived'].value_counts(normalize=True) )

print(df_pass[(df_pass['Sex'] == 'female') & (df_pass['Pclass'] == 1)].groupby(['Sex', 'Pclass'])['Survived'].value_counts() / df_pass[(df_pass['Sex'] == 'female') & (df_pass['Pclass'] == 1)]['Survived'].count())

Sex     Pclass  Survived
female  1       1           0.968085
                0           0.031915
        2       1           0.921053
                0           0.078947
        3       0           0.500000
                1           0.500000
male    1       0           0.631148
                1           0.368852
        2       0           0.842593
                1           0.157407
        3       0           0.864553
                1           0.135447
Name: Survived, dtype: float64
Sex     Pclass  Survived
female  1       1           0.968085
                0           0.031915
Name: Survived, dtype: float64

It is more probable for a person from the first class to survive as compared to the second or third class

In [60]:
print(df_pass.groupby(['Pclass'])['Survived'].value_counts(normalize=True) )

Pclass  Survived
1       1           0.629630
        0           0.370370
2       0           0.527174
        1           0.472826
3       0           0.757637
        1           0.242363
Name: Survived, dtype: float64